#estates.span8.estates
	:javascript
		$(function(){
			for (i in markers) {markers[i].setMap(null);}
		    markers.length = 0;
		})
	
	=# render 'estates/partials/sorting_menu'
	.grid
		- if estates.empty?
			%h4= t 'views.interface.nothing_found'
		- estates.each_with_index do |estate, index|
			= render 'estates/partials/estate', :estate => estate, :index => index