= nested_form_for estate, :html => {:class => 'form-horizontal'} do |f|
	= render 'estates/partials/fields', :f => f
	.form-actions
		= f.button raw('<i class="icon-ok icon-white"></i> Create'), 'data-disable-with' => 'Creating...', :type => :submit, :class => 'btn btn-primary'
		= link_to estates_url, :class => 'btn', 'data-disable-with' => 'Canceling...' do
			%i.icon-remove
			Cancel