%ul.nav.nav-pills
	%li{:class => (params[:order_by] == 'average_price' || !params[:order_by]  ? 'active' : nil)}
		= link_to url_for(params.merge(:page => 1, :order_by => :average_price, :order => (params[:order] == 'asc' || !params[:order] ? :desc : :asc))), :remote => true, :disable_with => t('views.sort.sorting') do
			= t 'views.sort.price'
			- if params[:order_by] == 'average_price' || !params[:order_by]
				%i.icon-white{:class => (params[:order] == 'asc' || !params[:order] ? 'icon-arrow-up' : 'icon-arrow-down')}
	%li{:class => (params[:order_by] == 'bedrooms' ? 'active' : nil)}
		= link_to url_for(params.merge(:page => 1, :order_by => :bedrooms, :order => (params[:order] == 'asc' ? :desc : :asc))), :remote => true, :disable_with => t('views.sort.sorting') do
			= t 'views.sort.beds'
			- if params[:order_by] == 'bedrooms'
				%i.icon-white{:class => (params[:order] == 'asc' ? 'icon-arrow-up' : 'icon-arrow-down')}