%menu
	= link_to 'Edit', edit_agency_url, :remote => true, :class => :button, :disable_with => 'Processing'
%aside
	- if !agency.booklet.avatar_id.blank?
		%img{:src => agency.booklet.avatar.image.thumb.url}
	- else
		%img{:src => '/assets/dummy/agency.thumnb.png'}
%div
	%h2= agency.title
	%p= agency.teaser
	- Contact.kinds.each do |kind|
		%ul
			- agency.contacts.where(:kind => kind).each do |contact|
				%li= contact.entry